html {
    background-color: #483D3F;
}

header {
    margin-top: 50px;
    text-align: center;
    padding-top: 5px;
}

main {
    margin-left: 85px;
    margin-right: 85px;
    background-color: #F4EBD9;
    height: 100vh;
}

h2 {
    
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

h2::first-letter {
    font-weight: bolder;
    color: #058ED9;
    font-size: 25px;
}

img {
    width: 175px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bio {
    text-align: center;
}

.p_bio::first-letter {
    font-weight: bolder;
    color: #058ED9;
    font-size: 25px;
}

.p_hobbies::first-letter {
    font-weight: bolder;
    color: #058ED9;
    font-size: 25px;
}

.favorites {
    width: 575px;
    text-align: center;
}

ul {
    width: 500px;
    text-align: center;
    list-style: inside;
}

i {
    color:#058ED9;
}
footer {
    margin-left: 40px;
    margin-top: 75px;
    text-align: center;
}